<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信刷步数</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="signupFrm">
        <form action="" class="form" method="post">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            <h1 class="title">刷步数</h1>

            <h3> 微信刷步数神器 </h3>

            <div class="inputContainer">
                <input type="tel" name="username" class="input" placeholder="a" required>
                <label for="" class="label">用户名（手机号）</label>
            </div>

            <div class="inputContainer">
                <input type="password" name="password" class="input" placeholder="a" required>
                <label for="" class="label">密码</label>
            </div>

            <div class="inputContainer">
                <input type="number" name="steps" class="input" placeholder="a" required>
                <label for="" class="label">步数（建议2000~50000）</label>
            </div>

            <input type="submit" class="submitBtn" value="提交">
        </form>
    </div>
</body>
<footer>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <small>&copy; 2022 <a href="https://github.com/ZHJ0125/bushu">ZHJ0125</a></small></br>
    <small>Power by Flask & Heroku</small></br>
</footer>
</html>