<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>这是一片荒原</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body style="text-align:center;">
    <h2>
        <img alt="Avatar" src="{{ url_for('static', filename='images/avatar.png') }}"></br>
        哈哈，你的URL地址无效，请检查URL或回到主页
    </h2>
    Page Not Found - 404 </br>
    <span class="float-right">
        <a href="{{ url_for('index') }}">回到主页</a>
    </span>
    <footer>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <small>&copy; 2022 <a href="https://github.com/ZHJ0125/bushu">ZHJ0125</a></small></br>
        <small>Power by Flask & Docker</small></br>
        <small>备案号:
            <a target="_blank" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow noopener" style="color:#737373;">鲁ICP备2022030036号-1</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010102001586" style="color:#737373;">鲁公网安备 37010102001586号</a>
        </small></br>
    </footer>
</body>
</html>