<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信刷步数</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="signupFrm">
        <form action="" class="form" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1 class="title">刷步数</h1>
            <p> 微信刷步数神器 &emsp;<a href="https://github.com/ZHJ0125/bushu/blob/main/docs/UserManual.md"> 帮助⁉ </a></p>
            <div class="inputContainer">
                {{ form.csrf_token }}{{ form.username }}
                <label for="" class="label">{{ form.username.label }}</label>
            </div>

            <div class="inputContainer">
                {{ form.csrf_token }}{{ form.password }}
                <label for="" class="label">{{ form.password.label }}</label>
            </div>

            <div class="inputContainer">
                {{ form.csrf_token }}{{ form.steps }}
                <label for="" class="label">{{ form.steps.label }}</label>
            </div>

            {{ form.csrf_token }}{{ form.submit }}
        </form>
    </div>
</body>
<footer>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <small>Copyright  &copy; 2022 <a href="https://github.com/ZHJ0125/bushu">ZHJ0125</a></small></br>
    <small>Power by Flask & Docker</small></br>
    <small>备案号:
        <a target="_blank" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow noopener" style="color:#737373;">鲁ICP备2022030036号-1</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010102001586" style="color:#737373;">鲁公网安备 37010102001586号</a>
    </small></br>
</footer>
</html>